@font-face {
 font-family: "Alienato";
 src: url("./alienato.ttf") format("truetype");
}

body { 
	background: url("../images/aurora.jpg") no-repeat center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.alien-font {
	font-family: "Alienato";
}

.card {
	height: 20vh;
}

.category-card {
	background-color: black;
	color: white;
}

.game-name {
	font-size: 0.5em;
}

.response-cards {
	background-color: white;	
}

.response-row {
	position: fixed;
	bottom: 0;
}

.test {
	font-family: "Alienato";
	font-size: 3em;
	color: white;
}