@font-face {
    font-family: “Alienato”;
    src: url(“ALIENATO.ttf”);
    src: url(ALIENATO.ttf) format(“truetype”);
}

body { 
	background: url("../images/aurora.jpg") no-repeat center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.card {
	height: 20vh;
}

.category-card {
	background-color: black;
	color: white;
}

.response-cards {
	background-color: white;	
}

.response-row {
	position: fixed;
	bottom: 0;
}